* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar */

#ms_navbar {
    display: flex;
    height: 15vh;
}

/* sidebar */

.ms_sidebar {
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(sidebar-bg.png);
    background-color: rgba(5,30,52,255);
    color: white;
}

.nav_superiore ul {
    list-style: none;
    margin-top: 20px;
}

.nav_superiore li {
    margin-bottom: 10px;
}

.nav_inferiore {
    padding-left: 30px;
}

.nav_inferiore a {
    text-decoration: none;
    padding-left: 5px;
    color: white;
}

/* container centrale */

.container_centrale {
    display: flex;
    flex-grow: 1;
}

.ms_table h2 {
    border-bottom: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.134);
}

.ms_table {
    width: 70%;
    border: 1px solid grey;
    margin: 10px;
}

.td a {
    padding: 2px;
    border: 1px solid grey;
}

